# All files are treated as text files with Unix-style line endings by default
* text eol=lf

# All .bat files are treated as text files with Windows-style line endings by default
*.bat text eol=crlf

# All .cmd files are treated as text files with Windows-style line endings by default
*.cmd text eol=crlf

# All .png files are treated as binary by default
*.png binary

# Run .png files through Git LFS
*.png filter=lfs diff=lfs merge=lfs -text

# All .ico files are treated as binary by default
*.ico binary

# Run .ico files through Git LFS
*.ico filter=lfs diff=lfs merge=lfs -text

# All .jpeg files are treated as binary by default
*.jpeg binary

# Run .jpeg files through Git LFS
*.jpeg filter=lfs diff=lfs merge=lfs -text

# All .jpg files are treated as binary by default
*.jpg binary

# Run .jpg files through Git LFS
*.jpg filter=lfs diff=lfs merge=lfs -text

# All .bmp files are treated as binary by default
*.bmp binary

# Run .bmp files through Git LFS
*.bmp filter=lfs diff=lfs merge=lfs -text

# All .gif files are treated as binary by default
*.gif binary

# Run .gif files through Git LFS
*.gif filter=lfs diff=lfs merge=lfs -text

# All .ttf files are treated as binary by default
*.ttf binary

# Run .ttf files through Git LFS
*.ttf filter=lfs diff=lfs merge=lfs -text

# All .otf files are treated as binary by default
*.otf binary

# Run .otf files through Git LFS
*.otf filter=lfs diff=lfs merge=lfs -text

# All .woff files are treated as binary by default
*.woff binary

# Run .woff files through Git LFS
*.woff filter=lfs diff=lfs merge=lfs -text

# All .woff2 files are treated as binary by default
*.woff2 binary

# Run .woff2 files through Git LFS
*.woff2 filter=lfs diff=lfs merge=lfs -text

# All .eof files are treated as binary by default
*.eof binary

# Run .eof files through Git LFS
*.eof filter=lfs diff=lfs merge=lfs -text

# All .flac files are treated as binary by default
*.flac binary

# Run .flac files through Git LFS
*.flac filter=lfs diff=lfs merge=lfs -text

# All .wav files are treated as binary by default
*.wav binary

# Run .wav files through Git LFS
*.wav filter=lfs diff=lfs merge=lfs -text

# All .mp3 files are treated as binary by default
*.mp3 binary

# Run .mp3 files through Git LFS
*.mp3 filter=lfs diff=lfs merge=lfs -text

# All .ogg files are treated as binary by default
*.ogg binary

# Run .ogg files through Git LFS
*.ogg filter=lfs diff=lfs merge=lfs -text

# All .mkv files are treated as binary by default
*.mkv binary

# Run .mkv files through Git LFS
*.mkv filter=lfs diff=lfs merge=lfs -text

# All .mp4 files are treated as binary by default
*.mp4 binary

# Run .mp4 files through Git LFS
*.mp4 filter=lfs diff=lfs merge=lfs -text
