# All files are treated as text files with Unix-style line endings by default
* text eol=lf encoding=UTF-8

# All .bat files are treated as text files with Windows-style line endings by default
*.bat text eol=crlf encoding=UTF-8

# All .cmd files are treated as text files with Windows-style line endings by default
*.cmd text eol=crlf encoding=UTF-8

# Run all compiled script binaries through Git LFS
scripts/bin/* filter=lfs diff=lfs merge=lfs -text

# Run .png files through Git LFS
*.png filter=lfs diff=lfs merge=lfs -text

# Run .ico files through Git LFS
*.ico filter=lfs diff=lfs merge=lfs -text

# Run .jpeg files through Git LFS
*.jpeg filter=lfs diff=lfs merge=lfs -text

# Run .jpg files through Git LFS
*.jpg filter=lfs diff=lfs merge=lfs -text

# Run .bmp files through Git LFS
*.bmp filter=lfs diff=lfs merge=lfs -text

# Run .gif files through Git LFS
*.gif filter=lfs diff=lfs merge=lfs -text

# Run .ttf files through Git LFS
*.ttf filter=lfs diff=lfs merge=lfs -text

# Run .otf files through Git LFS
*.otf filter=lfs diff=lfs merge=lfs -text

# Run .woff files through Git LFS
*.woff filter=lfs diff=lfs merge=lfs -text

# Run .woff2 files through Git LFS
*.woff2 filter=lfs diff=lfs merge=lfs -text

# Run .eof files through Git LFS
*.eof filter=lfs diff=lfs merge=lfs -text

# Run .flac files through Git LFS
*.flac filter=lfs diff=lfs merge=lfs -text

# Run .wav files through Git LFS
*.wav filter=lfs diff=lfs merge=lfs -text

# Run .mp3 files through Git LFS
*.mp3 filter=lfs diff=lfs merge=lfs -text

# Run .ogg files through Git LFS
*.ogg filter=lfs diff=lfs merge=lfs -text

# Run .mkv files through Git LFS
*.mkv filter=lfs diff=lfs merge=lfs -text

# Run .mp4 files through Git LFS
*.mp4 filter=lfs diff=lfs merge=lfs -text
