# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build
on:
  workflow_call:
    inputs:
      git-ref:
        description: |
          The Git reference to build.

          This can be any valid commit-like value (e.g. a branch, a tag, or a
          commit).

          Defaults to the value in the "github.ref" context if available,
          otherwise falls back to "github.sha".
        type: string
        required: false
        default: ${{github.ref || github.sha}}
      build-type:
        description: |
          The type of build to make.

          Valid options are:
          * "development" - A development build.
          * "dev" - An alias for "development".
          * "production" - A production build.
          * "prod" - An alias for "production".

          Defaults to "production".
        type: string
        required: false
        default: production
      retention-days:
        description: |
          The number of days to retain built artifacts for.

          A value of "0" will use the repository default value.

          Defaults to "0".
        type: number
        required: false
        default: 0
    outputs:
      artifact-id:
        description: |
          The ID of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-id}}
      artifact-name:
        description: |
          The name of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-name}}
      artifact-url:
        description: |
          The download URL of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-url}}
      artifact-digest:
        description: |
          The digest of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-digest}}
    secrets:
      github-token:
        description: |
          The token to use to make authenticated calls to the GitHub API.
        required: false
env:
  GH_TOKEN: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # -- Required to clone the repository
      contents: read
    outputs:
      artifact-id: ${{steps.upload-artifacts.outputs.artifact-id}}
      artifact-name: dist-${{inputs.build-type}}
      artifact-url: ${{steps.upload-artifacts.outputs.artifact-url}}
      artifact-digest: ${{steps.upload-artifacts.outputs.artifact-digest}}
    steps:
      - id: checkout-repository
        name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{inputs.git-ref || github.ref || github.sha}}
          lfs: true
          token: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
      - id: setup-pnpm
        name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          package_json_file: ./package.json
          run_install: false
          standalone: false
      - id: setup-nodejs
        name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml
          token: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
      - id: install-dependencies
        name: Install dependencies
        run: pnpm -r install
      - id: determine-build-type
        name: Determine build type
        shell: bash
        env:
          BUILD_TYPE: ${{inputs.build-type}}
        run: |
          case "${BUILD_TYPE}" in
            prod*)
              echo "build-script=build:production" >> "${GITHUB_OUTPUT}";
            ;;
            dev*)
              echo "build-script=build:development" >> "${GITHUB_OUTPUT}";
            ;;
            *)
              echo "::error::Unknown build type \"${BUILD_TYPE}\"!";
              exit 1;
            ;;
          esac
      - id: build
        name: Build
        shell: bash
        env:
          BUILD_SCRIPT: ${{steps.determine-build-type.outputs.build-script}}
        run: |
          pnpm run "${BUILD_SCRIPT}";
      - id: upload-artifacts
        name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./app/dist/
          name: dist-${{inputs.build-type}}
          if-no-files-found: error
          compression-level: 0
          include-hidden-files: true
          retention-days: ${{inputs.retention-days}}
