# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint
on:
  workflow_call:
    inputs:
      git-ref:
        description: |
          The Git reference to build.

          This can be any valid commit-like value (e.g. a branch, a tag, or a
          commit).

          Defaults to the value in the "github.ref" context if available,
          otherwise falls back to "github.sha".
        type: string
        required: false
        default: ${{github.ref || github.sha}}
    secrets:
      github-token:
        description: |
          The token to use to make authenticated calls to the GitHub API.
        required: false
env:
  GH_TOKEN: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      # -- Required to clone the repository
      contents: read
    steps:
      - id: checkout-repository
        name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{inputs.git-ref || github.ref || github.sha}}
          lfs: true
          token: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
      - id: setup-pnpm
        name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          package_json_file: ./package.json
          run_install: false
          standalone: false
      - id: setup-nodejs
        name: Setup NodeJS
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml
          token: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
      - id: lint
        name: Lint
        run: pnpm run lint
