# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Manual Test
on:
  workflow_dispatch:
    inputs:
      build-type:
        description: |
          The type of build to make.

          Valid options are:
          * "development" - A development build.
          * "dev" - An alias for "development".
          * "production" - A production build.
          * "prod" - An alias for "production".

          Defaults to "production".
        type: choice
        options:
          - production
          - development
        required: true
jobs:
  test:
    name: Test
    permissions:
      # -- Required to check out the repository
      contents: read
    uses: ./.github/workflows/test.yaml
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
